.header{
    height: fit-content;
    display: flex;
    width: 100%;

}

.stats{
    margin: 0 2vw;
    max-width: fit-content;
}

.stats p{
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid wheat;
    padding: 1vh 2vw;
    border-radius: 5px;
    margin-top: 1.5vh;
    cursor: pointer;
}

.overlay{
    width: 100vw;
    position: absolute;
    height: 100vh;
    background-color: #fff;
    z-index: 5;
    overflow: hidden;
}

.search button{
    width: 60vw;
    height: 5vh;
    margin: 0.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.15rem;
    display: block;
}

.block{
    display: block;
}

.none{
    display: none;
}

.suggest-container{
    width: 100vw;
}

.heading{
    font-size: 1.75rem;
    padding: 2rem;
    font-weight: bold;
}

.suggestions{
    font-size: 1.25rem;
    text-align: center;
    background-color: wheat;
    margin: 1.5rem 10rem;
    padding: 1rem;
    border-radius: 50px;
}

.fas{
    font-size: 2rem;
    float: right;
    margin-right: 10rem;
    margin-top: -68vh;
    cursor: pointer;
}

.login-register{
    margin: 0.6em 2em 0.6rem 0;
    margin-left: auto;
    cursor: pointer;
}

.login-register div{
    padding: 0.5em 0.8em;
    border: 2px solid wheat;
    border-radius: 5px;
    font-size: 0.8rem;
}